
doctype strict
html(style='box-sizing:border-box;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale')
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body(style="margin: 0;background-color: white;font-family: 'Roboto', sans-serif;color:#343e4d")
    style.
      @media (min-width:700px){.wrapper>*{padding:2em}.brand,.company-info h3,.company-info ul{text-align:left}}
    .div(style='margin-left:auto;margin-right:auto;max-width:600px;padding:1rem;')
      .div(style='border: 1px solid black;border-radius:5px;overflow:hidden')
        .div(style='background:linear-gradient(45deg, #2980ba 0%, #238E9B 50%, #00BF6F 100%);background-color:#2980ba;padding:20px;')
          img(src='https://i.ibb.co/SQr3tHp/logo-email.png', style='width:300px;display:block;')
        .wrapper(style='padding: 20px 10px;background-color:#f9feff')
          .top(style='padding:1rem')
            h1(style='margin:0;text-align:center;font-weight:400;font-size:3rem') #{title}
          .bottom(style='padding:1rem')
            p(style='line-height:1.6;margin:0px;font-size:1rem') #{message} 
              br 
              br 
            a(style='text-decoration: none; color: #343e4d;' href ='https://docdro.id/0TX4LZL') #{link}
              br 
              br
            p(style='line-height:1.6;margin:0px;font-size:1rem') We also invite you/your child to start working through one of our online prep courses for free.  
            .div(style='text-align:center; margin-top:50px;')
              a(style='text-decoration: none; border: 0; text-transform: uppercase; color: white; background-color: #00BF6F; font-weight: 600; letter-spacing: 1.5px; padding: 12px 15px; border-radius: 5px; font-size: 1rem;' href='https://app.synapseprep.net/register') Get to Learning
      p(style='font-size:0.8rem;text-align:center') © All Rights Reserved Synapse Prep 2019  
